* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: 'Engravers MT';
    src: url('EngraversMT.woff2') format('woff2'),
        url('EngraversMT.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-color: #DD622E;
    --text-color: #B7FD79;
}

html {
    scroll-behavior: smooth;
}

body main a {
    color: var(--text-color);
}

/* ********************* */
/* HEADER */
/* ********************* */

header nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 1.5rem;
    background-color: var(--primary-color);
    color: var(--text-color);
}

header nav #links {
    display: flex;
    gap: 2rem;
}

/* ********************* */
/* BODY */
/* ********************* */

body {
    font-family: 'Engravers MT';
    background-color: var(--primary-color);
    color: var(--text-color);
}

body main section {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body main #hero-section {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 3rem;
}

#hero-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    width: 100%;
    padding: 0 1.5rem;
}



#hero-text div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 2rem;
}

#hero-text div:nth-child(2) {
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    font-weight: 900;
    text-align: end;
}

body main #works-section #marquee-anim{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
    gap: 3rem;
    font-size: 2em;
}