* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: "Engravers MT";
  src: url("./assets/EngraversMT.woff2") format("woff2"),
    url("./assets/EngraversMT.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: white;
  --text-color: #b7fd79;
}

html {
  scroll-behavior: smooth;
}

body main a {
  color: var(--text-color);
}

main section {
  padding: 0 1.5rem;
}

/* ********************* */
/* HEADER */
/* ********************* */

header nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: var(--primary-color);
  color: var(--text-color);
}

header nav #links {
  display: flex;
  gap: 2rem;
}

/* ********************* */
/* BODY */
/* ********************* */

body {
  font-family: "Engravers MT";
  background-color: var(--primary-color);
  color: var(--text-color);
}

body main section {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body main section:not(:nth-child(2)) {
  border-top: #b7fd79 1px solid;
}

body main section:not(:nth-child(5)) {
  margin-bottom: 3rem;
}

body main #hero-section {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 3rem;
}

#hero-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
}

#hero-text div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: 2rem;
}

#hero-text #left p:nth-child(2) {
  font-style: italic;
  text-decoration: double underline;
}

#hero-text div:nth-child(2) {
  display: flex;
  flex-direction: column;
  font-size: 8rem;
  font-weight: 900;
  text-align: end;
}

body main #works-section #marquee {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  gap: 6rem;
  font-size: 2em;
  padding-top: 2rem;
}
